---
const { icon, url, url_name } = Astro.props;
import { Icon } from "astro-icon/components";
---

<a
  target="_blank"
  rel="noopener noreferrer"
  href={url}
  class="btn btn-outline btn-md mr-2"
  aria-label={`Contact via ${url_name}`}
>
  <Icon name={icon} class="w-6 h-6" aria-hidden="true" />
  {url_name}
</a>
