---
import { Icon } from "astro-icon/components";
const { title, icon } = Astro.props;
const sectionId = title.toLowerCase().replace(/\s+/g, "-");
---

<section id={sectionId} class="collapse collapse-arrow ease-in-out duration-700 scroll-mt-16">
  <input aria-label={`Toggle ${title} section`} type="checkbox" />
  <div class="collapse-title font-extrabold tracking-tight md:text-2xl">
    <div class="flex items-center">
      <Icon name={icon} class="w-8 h-8 mr-4" aria-hidden="true" />
      <h2 class="text-xl md:text-2xl">{title}</h2>
    </div>
  </div>
  <div class="collapse-content">
    <slot />
  </div>
</section>
